*{margin: 0; padding: 0;
    font-family: sans-serif;
font-weight: 600;}
ul,li{list-style: none;
   }
a{text-decoration: none;}
section{width: 100%; 
       height: 100vh;
   }

#wrap{width: 100%;}
header{width: 100%; height: 80px;  }
.header_in{width: 1200px; margin: 0 auto; height: 80px;
            }
.header_in .logo{width: 150px; height: 80px;
     background-color: white; float: left;}
nav{width: 900px;
    height: 80px; float: left;}
nav ul{ width: 100%; height: 
    80px; text-align: center;  }    
nav li{width: 150px; float: left; 
        line-height: 80px;}
nav li a{ font-size: 14px;  color: #606060;}        
.login{width: 100%;}
.login .help{width: 100%; height: 30px;}
.login .help2{width: 100%; height: 50px;}
.login a{margin-left: 5px; font-size: 14px;  color: #606060;}
.main01{width: 1200px; margin: 0 auto; text-align: center; 
    height: 400px;
    }
.main01 .con01{height: 150px; }
.main01 .con01 .conBox1{margin: 0 auto; width: 600px;  }
.main01 .conBox1  li img{width: 80px;
     height: 50px;}
.main01 .conBox1 li{ float: left; cursor: pointer; 
     margin-top: 20px; margin-left: 5px;
    width: 110px; height: 80px;  border-radius: 20px;
                 }
.main01 .conBox1 li.on{background-color: #ccc; transition: 1s all;}                 
.main01 .conBox1 li a{font-size: 14px;  color: #606060;}                 
.con2{ height: 100px;}
.con2 li{float: left; margin-left: 20px;
            cursor: pointer;}
.conInfo div{padding: 10px;}            
.con2 .con2_text{width: 210px; height: 80px;
    border-radius: 10px;
     text-align: left; 
     line-height: 40px;
     box-shadow: 5px 5px 10px rgb(141, 138, 138);
    border: 1px solid #569aff;}
.con2 ul li span{ 
    color: #606060;}
.con2 ul li p{ color: #aeaeae;}
.con2  li:nth-child(5){ width: 120px;
    height: 100px;
    border-radius: 10px;
    line-height: 90px;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(141, 138, 138);
    background: #569aff;}  

.conInfo2 li{width:450px; 
     float: left;}
.conInfo a{color: #fcf9f9d7;}     

.conInfo2 ul li span{ 
        color: #606060;}
.conInfo2  ul li p{ color: #aeaeae;} 
.conInfo2 li:nth-child(3){ width: 120px;
        height: 100px;
        border-radius: 10px;
        line-height: 90px;
        align-items: center;
        box-shadow: 5px 5px 10px rgb(141, 138, 138);
        background: #569aff;}         
.con3_text{ margin: 0 auto;
    width: 400px; height: 80px;
    border-radius: 10px;
     text-align: left; 
     line-height: 40px;
     box-shadow: 5px 5px 10px rgb(141, 138, 138);
    border: 1px solid #569aff;}

.conInfo3 ul li {width: 300px; float: left;
    }   
.con4_text{ margin: 0 auto;
    width: 300px; height: 80px;
    border-radius: 10px;
     text-align: left; 
     line-height: 40px;
     box-shadow: 5px 5px 10px rgb(141, 138, 138);
    border: 1px solid #569aff;}
.conInfo4 ul li{width: 400px; float: left;}
.con5_text{ margin: 0 auto;
    width: 400px; height: 80px;
    border-radius: 10px;
     text-align: left; 
     line-height: 40px;
     box-shadow: 5px 5px 10px rgb(141, 138, 138);
    border: 1px solid #569aff;}

    .conInfo4 li:nth-child(3){ width: 120px;
        height: 100px;
        border-radius: 10px;
        line-height: 90px;
        box-shadow: 5px 5px 10px rgb(141, 138, 138);
        align-items: center;
        background: #569aff;}   

    
 

.main02{width: 1200px; height:500px; 
     margin: 0 auto; }
.main02 .picture{width: 1200px; height: 500px; 
    position: relative;}
.main02 .view{ width: 100%;
     height: 500px;}

.main02 .view li{ float: left;   box-shadow: 5px 5px 10px black;
     position: absolute; border-radius: 50px;
     width: 100% ;height: 500px; top: 0;}
.main02 .view li:nth-child(1){
    background: url(./img/church-g09efa3589_1280.jpg); z-index: 400;}
.main02 .view li:nth-child(2){
    background: url(./img/hd-wallpaper-g5facf6ea2_1280.jpg); z-index: 300;}
.main02 .view li:nth-child(3){background-size: cover;
background: url(./img/travel-g2691c7ebf_1280.jpg); z-index: 200; }
.main02 .view .view_text1 {width: 500px; 
    height: 200px; margin: 100px; padding: 1rem;
    font-family: sans-serif; font-weight: 600;    color: #606060;}
.main02 .view .view_text1 p{ font-size: 20px;
text-shadow: 3px 3px 15px white; margin-bottom: 10px;}
.main02 .view .view_text1 h1{margin-top: 30px;
text-shadow: 3px 3px 15px white;}
.main02 .view .view_text1 span{font-size: 40px;
    color: #606060f1;
                                text-shadow: 3px 3px 15px white;
                                border-bottom: 5px solid #c01c1c80;}





.main02 .view .view_text2 {width: 400px; 
                            height: 200px; margin: 100px; padding: 1rem;
                            font-family: sans-serif; font-weight: 600;color: #f8f8f8c5;;}
.main02 .view .view_text2 p{ font-size: 25px;
    text-shadow: 3px 3px 15px white; margin: 10px 0;}
.main02 .view .view_text2 h1{ font-size: 30px;
    text-shadow: 3px 3px 15px white;}
.main02 .view .view_text2 span{font-size: 30px;
    
    font-weight: 600;}
.main02 .view .view_text2 a{display: inline-block;
    width: 240px; height: 70px; line-height: 70px;
                border:2px solid #ccc;  text-align: center;
                font-size: 35px; text-shadow: 3px 3px 15px white;
            margin-top: 30px; font-family: sans-serif;
            color: #f8f8f8ad;}   


.main02 .view .view_text3 {width: 900px; color: #575454c2;
                height: 200px; margin: 100px auto; padding: 1rem;
                text-align: right;
                font-family: sans-serif; font-weight: 600;}
.main02 .view .view_text3 p{ font-size: 25px; margin-top: 10px;
            ; margin-bottom: 10px;}
 .main02 .view .view_text3 h1{ font-size: 35px;
    color: #5754548a; 
           }
.main02 .view .view_text3 span{font-size: 45px;
}
.main02 .view .view_text3 a{display: inline-block;
    width: 240px; height: 70px; line-height: 70px;
                border:2px solid rgb(75, 87, 63);;  text-align: center;
                font-size: 35px; text-shadow: 3px 3px 15px white;
            margin-top: 30px; font-family: sans-serif;
            color: #575454; }   
            



.main_2_btn{width: 200px; 
    position: absolute; left: 40%;      
    height: 20px; text-align: center;}
.main_2_btn li{width: 40px; height: 10px;background-color: rgb(88, 79, 79);
     display: inline-block; margin:20px 0 0 20px; border-radius: 5px;
        cursor: pointer;}
.main_2_btn li.on{width: 20px; background-color: #569aff;
    transition: all 1s;}



.main03{width: 1200px; margin: 0 auto; height: 100vh;
        }
.main03_title{   height: 70px;     color: #606060;
                    line-height: 70px;
    text-align: center;}
.main03 li{cursor: pointer;}
.main03_view{width: 1150px; height: 450px;
                position: relative;  overflow: hidden;
              }    
.main03_info{width: 2300px; height: 400px;
            position: absolute; left: 0; top: 0;}                

.main03_info li{width: 360px; height: 400px; float: left;
    margin-left: 20px;border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(158, 157, 157);
    border: 1px solid #ccc;
position: relative;}
.main03_info .medal1{width: 60px; height: 50px;
        background: url(./img/icons8-1st-place-medal-48.png);
        position: absolute; left: 10px;
        top: -10px;} 
.main03_info .medal2{width: 60px; height: 50px;
            background: url(./img/icons8-2nd-place-medal-48.png);
            position: absolute; left: 10px;
            top: -10px;}
.main03_info .medal3{width: 60px; height: 50px;
                background: url(./img/icons8-3rd-place-medal-48.png);
                position: absolute; left: 10px;
                top: -10px;}      
.main03_info .medal4{width: 60px; height: 50px;
                    background: url(./img/icons8-sports-medal-48\ \(1\).png);
                    position: absolute; left: 10px;
                    top: -10px;}                                            
.main03 li img{width: 360px; height: 270px;
                border-radius: 15px;
                box-shadow: 5px 5px 15px rgb(63, 62, 62);
                margin-bottom: 15px;}
.main03_info li p{margin:10px;
    color: #606060;
    font-weight: 400;}
.main03_info li span{margin: 20px 10px 10px 10px;
            color: black;
            font-weight: bold;}



.main03_btn{ text-align: center;}
.main03_btn li{width: 50px; height: 10px; margin-left: 10px;
             display: inline-block; background-color: rgb(88, 79, 79);
              }
.main03_btn li.on{background-color: #569aff;}



.main04{width: 1200px; height: 100vh; 
    margin: 0 auto;}    
.main04 li{cursor: pointer;}

.main04_title{height: 70px;
         color: #606060;
        line-height: 70px;
text-align: center;}
.main04_view{width: 1150px; height: 450px;
            position: relative; overflow: hidden;}
.main04 figure{}
.main04_info{width: 2300px; height: 400px;
            position: absolute; left: 0; top:0;}

.main04_info li{width: 360px; height: 400px; float: left;
margin-left: 20px;border-radius: 15px; 
box-shadow: 5px 5px 15px rgb(158, 157, 157);
position: relative;
border: 1px solid #ccc;
}
.main04 li img{width: 360px; border-radius: 15px;
     height: 270px; margin-bottom: 15px;
     box-shadow: 5px 5px 15px rgb(63, 62, 62);}
.main04_info li p{margin:10px;
color: #606060;
font-weight: 400;}
.main04_info li span{ margin: 20px 10px 10px 10px;
color: black;
font-weight: bold;}
.main04_info .medal1{width: 60px; height: 50px;
    background: url(./img/icons8-1st-place-medal-48.png);
    position: absolute; left: 10px;
    top: -10px;} 
.main04_info .medal2{width: 60px; height: 50px;
        background: url(./img/icons8-2nd-place-medal-48.png);
        position: absolute; left: 10px;
        top: -10px;}
.main04_info .medal3{width: 60px; height: 50px;
            background: url(./img/icons8-3rd-place-medal-48.png);
            position: absolute; left: 10px;
            top: -10px;}      
.main04_info .medal4{width: 60px; height: 50px;
                background: url(./img/icons8-sports-medal-48\ \(1\).png);
                position: absolute; left: 10px;
                top: -10px;}                                            



.main04_btn{ text-align: center;}
.main04_btn li{width: 50px; height: 10px; margin-left: 10px;
    display: inline-block; background-color: rgb(88, 79, 79);}
.main04_btn li.on{background-color: #569aff;}


.main05 {width: 1200px; height: 100vh; 
            margin: 0 auto; }
.main05 .main05_info {}
.main05 .main05_info h1{text-align: center;
    color: #606060;}
.main05 .main05 ul{text-align: center;}
.main05 .main05_info li{width: 370px; height: 360px;
                        border-radius: 15px; position: relative;     
                        float: left;
                        margin:10px 0 0 20px;
                        box-shadow: 5px 5px 15px rgb(63, 62, 62);
                        cursor: pointer;
                      }
.main05 .main05_info li::before{content: "";
                                opacity: 0.4;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                border-radius: 15px;
                                background-color: #000;}                                    

.main05 .main05_info li:nth-child(1){background: url(./img/main0501.jpg);
                                    background-size: cover;
                                    }
.main05 .main05_info li:nth-child(2){background: url(./img/main0502.jpg);
    background-size: cover;
    }
.main05 .main05_info li:nth-child(3){background:url(./img/main0503.jpg);
    background-size: cover;}
.main05 .main05_info li:nth-child(4){background: url(./img/main0504.jpg);
    background-size: cover;}
.main05 .main05_info li:nth-child(5){background:url(./img/main0505.jpg);
    background-size: cover; background-position: center;}
.main05 .main05_info li:nth-child(6){background: url(./img/main0506.jpg);
    background-size: cover;}
.main05 .main05_text{ position: absolute;
    width: 100%; bottom: 30px;
    color: #f8f8f8; margin-left: 20px;}

.main05 .main05_text h2{margin-top: 10px;}
.main05 .main05_text p{}


     
